<a href="https://colab.research.google.com/github/kurokawa5/atcoder/blob/main/AtCoder_Beginner_Contest_278.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### A - Shift

In [26]:
# Input
# 3 4
# 9 9 9
# Output
# 0 0 0

In [21]:
# Input
# 9 5
# 1 2 3 4 5 6 7 8 9
# Output
# 6 7 8 9 0 0 0 0 0

In [ ]:
# Input
# 3 3
# 1 2 3
# Output
# 0 0 0

In [37]:
# Input
# 1 1
# 1
# Output
# 0

In [ ]:
# Input
# 15 10
# 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
# Output
# 0 0 0

In [62]:
N, K = map(int, input().split())

3 4

In [63]:
A = list(map(int, input().split()))

9 9 9

In [64]:
A_len = len(A)

if K >= A_len:
  ans = [0] * A_len

else:
    ans = A[K:]
   
    for item in range(K):
        ans.append(0)

print(*ans)

3

### B - Misjudge the Time

In [65]:
# Input
# 1 23
# Output
# 1 23

In [ ]:
# Input
# 19 57
# Output
# 20 0

In [97]:
h, m = map(int, input().split())

19 57

In [99]:
flag = 0
while flag == 0:

    h = str(h).zfill(2)
    m = str(m).zfill(2) 

    h1 = h[0]
    h2 = h[1]
    m1 = m[0]
    m2 = m[1]
    
    temp = h2
    h2 = m1
    m1 = temp

    h_switch = int(h1 + h2)
    m_switch = int(m1 + m2)

    if 23 >= h_switch:
        if 59 >= m_switch:
            ans = h + " " + m
            print(ans)
            flag = 1
    
    m = int(m) + 1

    if m > 59:
        m = '0'
        h = int(h) + 1
        if h > 23:
          h = '0'

20 00